# https://travis-ci.org/spyder-ide/qtpy/

# We set the language to c because python isn't supported on the MacOS X nodes
# on Travis. However, the language ends up being irrelevant anyway, since we
# install Python ourselves using conda.
language: c

sudo: false

branches:
  only:
    - master

env:
  global:
    - SETUP_XVFB=True
    - CONDA_CHANNELS="qttesting"
    - CONDA_DEPENDENCIES="pytest pytest-cov"
    - PIP_DEPENDENCIES="coveralls"

  matrix:
    include:
    # OS X
    - os: osx
      python: "3.5"
      env: USE_QT_API=PyQt5
    - os: osx
      python: "3.4"
      env: USE_QT_API=PyQt5
    - os: osx
      python: "2.7"
      env: USE_QT_API=PyQt5
    - os: osx
      python: "3.5"
      env: USE_QT_API=PyQt4
    - os: osx
      python: "3.4"
      env: USE_QT_API=PyQt4
    - os: osx
      python: "2.7"
      env: USE_QT_API=PyQt4
    - os: osx
      python: "2.7"
      env: USE_QT_API=PySide
    # Linux
    - os: linux
      python: "3.5"
      env: USE_QT_API=PyQt4
    - os: linux
      python: "3.4"
      env: USE_QT_API=PyQt4
    - os: linux
      python: "2.7"
      env: USE_QT_API=PyQt4
    - os: linux
      python: "2.7"
      env: USE_QT_API=PySide

before_install:
  # Test environments for different Qt bindings
  - if [[ "$USE_QT_API" == "PyQt5" ]]; then
      export CONDA_DEPENDENCIES='qt=5.* pyqt=5.* '$CONDA_DEPENDENCIES;
    elif [[ "$USE_QT_API" == "PyQt4" ]]; then
      export CONDA_DEPENDENCIES='qt=4.* pyqt=4.* '$CONDA_DEPENDENCIES;
    elif [[ "$USE_QT_API" == "PySide" ]]; then
      export CONDA_DEPENDENCIES='qt=4.* pyside '$CONDA_DEPENDENCIES;
    fi

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh
  - python setup.py install

script:
  - python qtpy/tests/runtests.py

after_success:
  - coveralls

